<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/style.css">

        <title>EPUB Reader</title>
    </head>
    <body>
        <div class="header">
            <a href="#" class="logo">EPUB READER</a>
            <div class="header-right">
                <a class="active" href="#">Home</a>
                <a href="#sign-in">Sign In</a>
                <a href="#sign-up">Sign Up</a>
            </div>
        </div>
        <div class="book">
            <div class="page-left col-5">{{ leftpage|safe }}</div>
            <div class="page-break col-1"></div>
            <div class="page-right col-5">{{ rightpage|safe}}</div>
        </div>
    </body>
</html>